# ================
# Dependency Packages
# ================
npm-debug.log
node_modules/
bower_components/
.bower-*/


# ================
# Sublime Editor file
# ================
project.sublime-workspace


# ================
# Application files
# ================
logs/
build/
*.db
memory
sessions/
*.log
